@charset "utf-8";

* {
    padding: 0;
    margin: 0;
  }
  

body{
    line-height: 1.5px;
}


header{
    width: 900px;
    height: 120px;
    background-color: rgb(54, 205, 216);
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-right: 50px;
    border-bottom: 3px solid red;
    padding-top: 10px;

    .img1{
        margin-top: 10px;
    }




 nav{
     width: 330px;
    background-color: chartreuse;
    line-height: 15px;
    margin-top: 25px;


    .nav_day{
        background-color: aqua;
         }

         .span_tel{
             font-size: 20px;
             font-weight: bold;
         }
   }


 
       .nav_right{
           background-color: red;
           color: #fff;
           width: 250px;
           padding: 40px 20px;
           line-height: 7px;
           margin-top: 25px;
           margin-bottom: 10px;
        }
    }



 article{

    .article_imges{
        background-image: url("bg-cover-pc.png");
        background-size:cover;
        height: 400px;
        position: relative;
        z-index: 1;
    }


    .article_img2{
        width: 35%;
        height: 92%;
        z-index: 3;
        position: absolute;
        bottom: 0;
        right: 8px;
    }

    .article_img3{
        width: 60%;
        height: auto;
        z-index: 2;
        margin-left: 80px;
        margin-top: 50px;
    }

    .article_camp{
        width: 700px;
        margin: 0 auto;
    }

    .article_camp img{
        width: 700px;
        padding-top: 40px;
        vertical-align:bottom;
    }


    p.campaign{
      width: 700px;
      height: 250px;
      border: 3px solid red;
      text-align: center;
      line-height: 30px;
    }

    .article_headlines{
        line-height: 50px;
        text-align: center;

        h3{
            font-size: 26px;
        }
    }

    .item img{
        width: 170px;
        height: 150px;
    }

    .container{
        display: grid;
        // grid-template-columns: 150px 150px 150px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        grid-template-rows: 150px 200px;
    }

    .container_2{
        height: 450px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 120px;
        text-align: center;
    }

    .text_title{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .text_title2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .text_main{
        font-weight: bold;

    }
    
    .text_main2{
        font-weight: bold;
        margin-top: 12px;
        display: inline-block;
        margin-bottom: 40px;
    }

    .text_main3{
        background-image: url("icon-lead02 (1).png");
        background-repeat: no-repeat;
        background-position: center top;
        font-size: 19px;
        font-weight: bold;
        padding-top: 100px;
    }


    .box1{
        line-height: 30px;
        padding:0 16px ;
        width: 32%;
        position: relative;
    }

    .item_text{
    border-top: 2px solid #ff93ac;
    content: "";
    display: block;
    margin-left: -20px;
    position: absolute;
    left: 50%;
    width: 40px;
}


    .text_pink{
        display: inline-block;
        color: pink;
        font-weight: bold;
        height: 10px;
        margin-top: 10px;
    }



  }

main{
    background-color: red;
    margin: 0 auto;
    text-align: center;
    display: grid;
    width: 900px;
    height: 400px;
    grid-template:"main1  .     main2"   
                "main3  img    main4"
                "main5  img    main6"
                ;  
                line-height: 20px;
                grid-row-gap: 110px;
    grid-template-rows: repeat(3, 60px);

                   
.main_1{
grid-area: main1;
background: white;
margin-left: 50px;
padding: 10px 28px;
}

.main_2{
grid-area: main2;
background: #523e43;
margin-right: 50px;
padding: 10px 10px;
}

.main_3{
grid-area: main3;
background: blue;
padding: 8px 0px;
}

.main_img_center{
    grid-area:img ;
    background: #ff93ac;
    grid-row: 1/4;
    // padding-top: 80px;
    align-self: end;
}


.main_4{
grid-area: main4;
background: blueviolet;
padding: 8px 0px;
}

.main_5{
grid-area: main5;
background: yellow;
padding: 10px 10px;
}

.main_6{
grid-area: main6;
background: green;
padding: 10px 10px;
}

.main_strength{
    font-weight: bold;
    font-size: 18px;
    color: #ff93ac;
}

}



.mains_sub{
line-height: 30px;
width: 100%;
height: 200px;
text-align: center;
margin-top: 110px;
font-weight: bold;

h2{
    font-size: 35px;
  }
}

.img_reson1{
    text-align: center;

    h1{
        margin-top: 60px;
        font-size: 55px;
    }

    .reson-read{
        background-image: url("quotation02-l.png"),
        url("quotation02-r.png");
        background-repeat: no-repeat;
        background-position:left center, right center ;
        background-size: 17px 128px;
        width: 580px;
        height: 300px;
        margin: 70px auto ;
        line-height: 2;

        &:after{
            background-image: url("img-reason01-lead.png");
        }

        em{
            font-size: 36px;
            color: red;
        }

        .mk-yel{
            display: inline-block;
            font-size: 30px;
            margin-top: 83px;
            border-bottom: groove 6px #fff79a;
        }
    }
}

.detai-box{
    margin: 0 auto;
    line-height: 27px;
    width: 928px;
    height: 780px;
    background-color: #ff93ac;
    display: grid;
    grid-template:  "detai-img1   detai-img2" 
                     "deitai-rest1  deitai-rest2"
                     "deitai-rest3  deitai-rest4"
    ;
    grid-template-rows: 285px 200px 200px;
    grid-template-columns: 1fr 1fr;
    gap: 48px;

    .detai-img1{
        background-color: red;
        grid-area: detai-img1;
    }
    .detai-img2{
        background-color: blue;
        grid-area: detai-img2;
    }
    .deitai-rest1{
        background-color: blueviolet;
        grid-area: deitai-rest1;
    }
    .deitai-rest2{
        background-color: green;
        grid-area: grid-rest2;
        grid-row: 2/3;
        grid-column: 2/2;
    }
    .deitai-rest3{
        background-color: yellow;
        grid-area: deitai-rest3;
    }
    .deitai-rest4{
        background-color:grey;
        grid-area: deitai-rest4;
    }

}




/* タブレット向けレイアウト */
/* ８００px以下になったら変わる */
@media all and (max-width: 800px){
    header{
     flex-direction: column;
     align-items: center;
     width: 700px !important;
     height: 300px !important;
 }

 p{
     text-align: center;
 }
 
 nav{
     background-color: #fff !important;
     text-align: center;
 }

 .nav_right{
     text-align: center;
 }


 .container_2{
     flex-direction: column;
     height: auto !important;
     padding: 50px 0;
 }

 .box1{
     width: auto !important;
     padding: 70px 100px !important;
 }

 main{
     grid-template: 
       "main1  ."     
       "main2  ."     
       "main3  ."    
       "main4 img"    
       "main5 img"    
       "main6 img"     
     ;
     height: auto;
     line-height: 25px;
     grid-template-columns: 458px 260px;
     grid-row-gap: 0;
     text-align: left;
 }
 .main_1{
     margin: 0  !important;
     padding: 10px 0 !important;
 }

 .main_img_center{
     grid-row: 1/7 !important;
 }

}


